div#toTop
script(src="/javascripts/jquery-1.11.2.min.js")
script(src="/javascripts/common_scripts_min.js")
script(src="/javascripts/functions.js")
script(src="/javascripts/jquery.themepunch.tools.min.js")
script(src="/javascripts/chosen.jquery.min.js")
script(src="/javascripts/jquery.themepunch.revolution.min.js")
script(src="/javascripts/revolution_func.js")
//script(src="http://maps.googleapis.com/maps/api/js?libraries=places?key=AIzaSyDInqc6nVFWARPrED6pmZj4wIVWsipUrf8")
//script(src="/javascripts/map.js")
script(src="/javascripts/infobox.js")
script(src="/javascripts/scripts.js")