script(src="/javascripts/jquery-1.11.2.min.js")
script(src="/javascripts/common_scripts_min.js")
script(src="/javascripts/functions.js")
script(src="/javascripts/jquery.themepunch.tools.min.js")
script(src="/javascripts/jquery.themepunch.revolution.min.js")
script(src="/javascripts/revolution_func.js")