title= title
meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="description", content="O mais novo e completo guia de cidades e bairros para o mercado imobiliário, feito pelos especialistas da Benvenuto")
meta(name="keywords", content="guia, bairros, cidades, benvenuto, imóveis, mercado, imobiliário")
meta(property="og:title", content="Guia de Cidades e Bairros Benvenuto")
meta(property="og:type", content="website")
meta(property="og:image", content="")
meta(property="og:url", content="http://guia.benvenuto.com.br")
meta(property="og:description", content="O mais novo e completo guia de cidades e bairros para o mercado imobiliário, feito pelos especialistas da Benvenuto")
meta(name="twitter:card", content="summary")
meta(name="twitter:url", content="http://guia.benvenuto.com.br")
meta(name="twitter:title", content="Guia de Cidades e Bairros Benvenuto")
meta(name="twitter:description", content="O mais novo e completo guia de cidades e bairros para o mercado imobiliário, feito pelos especialistas da Benvenuto")
link(rel="icon", type="image/png", href="/images/favicon.png")
link(rel='stylesheet', href='/stylesheets/base.css', type="text/css", media="all")

link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Montserrat:400,700")
link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Gochi+Hand")
link(rel="stylesheet", type="text/css", href="http://fonts.googleapis.com/css?family=Lato:300,400")

link(rel="stylesheet", type="text/css", href="/stylesheets/settings.css")
link(rel="stylesheet", type="text/css", href="/stylesheets/extralayers.css")

<!--[if lt IE 9]>
<script src="js/html5shiv.min.js"></script>
<script src="js/respond.min.js"></script>
<![endif]-->

div#fb-root
script.
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&appId=1519238171626381&version=v2.0";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));