extends partials/layout

block content
    

    include pageelements/header

    include pageelements/headerbairro

    div.collapse#collapseMap
        div#map.map

    div.container.margin_60
        div.row
            div.col-md-8#single_tour_desc
                div#single_tour_feat
                    ul
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus
                        li
                            i.icon_set_1_icon-4
                            | Museus

                p.visible-sm.visible-xs
                    a.btn_map(data-toggle="collapse", href="#collapseMap", aria-expanded="false", aria-controls="collapseMap") Ver no Mapa
                
            aside.col-md-4
                p.hidden-sm.hidden-xs
                    a.btn_map(data-toggle="collapse", href="#collapseMap", aria-expanded="false", aria-controls="collapseMap") Ver no Mapa

        div.row
            div.col-md-3
                h3 Como é esse bairro
            div.col-md-9
                h4 Uma bairro Maroto
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas. Morbi viverra nibh sem, et feugiat enim feugiat eget. Aliquam ultricies turpis vitae nisl laoreet, nec imperdiet eros fringilla. Praesent in rhoncus ligula. Donec venenatis, sapien sed bibendum molestie, velit nisi ultrices mauris, eget ullamcorper ex libero nec nisi. Donec pulvinar, purus nec maximus gravida, est elit vehicula eros, ac vulputate nibh sapien id nunc. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.

        div.row
            div.col-md-3
                h3 Conhecido por
                hr
                ul.list_ok
                    li Bares
                    li Ar limpo (#SQN)
                    li Vida noturna
                
            div.col-md-9.margin_60
                div.row
                    div.col-md-6
                        div.box_style_4
                            i.icon_set_1_icon-82
                            h4
                                | Moradores 
                                span amam 
                                | porque
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas.

                    div.col-md-6
                        div.box_style_4
                            i.icon_set_1_icon-19
                            h4
                                | Moradores 
                                span reclamam 
                                | porque
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas.

    div.white_bg
        div.container.margin_60
            div.main_title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas. Morbi viverra nibh sem, et feugiat enim feugiat eget.
            div.row.magnific-gallery.add_bottom_60
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")

    div.container.margin_60
        div.main_title
            h2 Anúncios em 
                span Destaque
            p Belo Horizonte é uma cidade grande com muitos bairros. Qual deles é o ideal para você?

        div.row
            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Santa 
                            |Lúcia
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Santa 
                            |Lúcia
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Santa 
                            |Lúcia
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

    div.white_bg
        div.container.margin_60
            div.main_title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas. Morbi viverra nibh sem, et feugiat enim feugiat eget.
            div.row.magnific-gallery.add_bottom_60
                div.col-sm-12.text-center
                    a(href="/images/bg_login.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/bg_login.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")
                
                    
                    

    div.container.margin_60
        div.main_title
            h2 Boas 
                span razões 
                | para morar aqui
        div.row
            div.col-md-6.wow.fadeIn(data-wow-delay="0.1s")
                div.feature
                    i.icon_set_1_icon-30
                    h3
                        span +2 Milhões 
                        | de pessoas
                    p Uma cidade tão grande assim só pode ter muita coisa boa tbm! Blablabla
            div.col-md-6.wow.fadeIn(data-wow-delay="0.1s")
                div.feature
                    i.icon_set_1_icon-26
                    h3
                        span Transporte 
                        | público
                    p Uma cidade tão grande assim só pode ter muita coisa boa tbm! Blablabla
            div.col-md-6.wow.fadeIn(data-wow-delay="0.1s")
                div.feature
                    i.icon_set_1_icon-30
                    h3
                        span +2 Milhões 
                        | de pessoas
                    p Uma cidade tão grande assim só pode ter muita coisa boa tbm! Blablabla
            div.col-md-6.wow.fadeIn(data-wow-delay="0.1s")
                div.feature
                    i.icon_set_1_icon-30
                    h3
                        span +2 Milhões 
                        | de pessoas
                    p Uma cidade tão grande assim só pode ter muita coisa boa tbm! Blablabla


    div.white_bg
        div.container.margin_60
            div.main_title
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas. Morbi viverra nibh sem, et feugiat enim feugiat eget.
            div.row.magnific-gallery.add_bottom_60
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.col-sm-4.text-center
                    a(href="/images/eiffel.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/eiffel.jpg")
                div.text-center.col-sm-12
                    p(style="margin-top:20px;") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sed ante eu metus maximus egestas. Morbi viverra nibh sem, et feugiat enim feugiat eget.
                div.col-sm-12.text-center
                    a(href="/images/bg_login.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/bg_login.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")
                div.col-sm-6
                    a(href="/images/notredame.jpg", title="titulo da foto")
                        img.img-responsive.styled(src="/images/notredame.jpg")

    div.container.margin_60
        div.main_title
            h2 O que 
                span falam 
                | sobre morar aqui
        div.row
            div.col-md-6
                div.review_strip
                    img.img-circle(src="/images/avatar2.jpg")
                    h4 Rafael Milagre
                    p "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in faucibus."
            div.col-md-6
                div.review_strip
                    img.img-circle(src="/images/avatar2.jpg")
                    h4 Rafael Milagre
                    p "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a lorem quis neque interdum consequat ut sed sem. Duis quis tempor nunc. Interdum et malesuada fames ac ante ipsum primis in"

    include pageelements/footer	