extends partials/layout

block content
    

    include pageelements/header

    include pageelements/slider

    div.container.margin_60
        div.main_title
            h2 Cidades em 
                span Destaque
            p A Benvenuto preparou guias das principais cidades do país para você saber exatamente para onde está indo

        div.row
            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Belo 
                            |Horizonte
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Belo 
                            |Horizonte
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

            div.col-md-4.col-sm-6.wow.zoomIn(data-wow-delay="0.1s")
                div.tour_container
                    div.img_container
                        a(href="#")
                            img.img-responsive(src="/images/004.jpg")
                            div.ribbon.top_rated
                            div.short_info
                                i.icon_set_1_icon-24
                                | Parques
                                span.price
                                    sup 9
                                    | /10

                    div.tour_title
                        h3
                            strong Belo 
                            |Horizonte
                        div.rating
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile.voted
                            i.icon-smile
                            small (10)
                        div.wishlist
                            a.tooltip_flip.tooltip-effect-1(href="javascript:void(0);") +
                                span.tooltip-content-flip
                                    span.tooltip-back Lista de Favoritos

        p.text-center.nopadding
            a.btn_1.medium(href="#")
                i.icon-eye-7
                | Ver todas as Cidades (30)

    div.white_bg
        div.container.margin_60
            div.main_title
                h2 Outras 
                    span cidades
                    | interessantes
                p Recomendamos conferir também os seguintes destinos

            div.row.add_bottom_45
                div.col-md-4.other_tours
                    ul
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10

                div.col-md-4.other_tours
                    ul
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                div.col-md-4.other_tours
                    ul
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
                        li
                            a(href="#")
                                i.icon_set_1_icon-3 
                                | Divinópolis
                                span.other_tours_price 6/10
            div.banner.colored
                h4 Compre ou alugue imóveis na Benvenuto 
                    span sem intermediários
                p Na plataforma Benvenuto, você pode também anunciar seu imóvel gratuitamente
                a.btn_1.white(href="http://www.benvenuto.com.br") Acesse Aqui

            div.row
                div.col-md-3.col-sm-6.text-center
                    p
                        a(href="#")
                            img.img-responsive(src="images/blog1.jpg")
                    h4
                        span Novas Tendências
                        | para design de interiores em 2015
                    p Para os designers de interiores, duas vezes por ano acontece o High Point Market...

                div.col-md-3.col-sm-6.text-center
                    p
                        a(href="#")
                            img.img-responsive(src="images/blog2.jpg")
                    h4
                        span Novas Tendências
                        | para design de interiores em 2015
                    p Para os designers de interiores, duas vezes por ano acontece o High Point Market...
                div.col-md-3.col-sm-6.text-center
                    p
                        a(href="#")
                            img.img-responsive(src="images/blog3.jpg")
                    h4
                        span Novas Tendências
                        | para design de interiores em 2015
                    p Para os designers de interiores, duas vezes por ano acontece o High Point Market...
                div.col-md-3.col-sm-6.text-center
                    p
                        a(href="#")
                            img.img-responsive(src="images/blog4.jpg")
                    h4
                        span 8 coisas
                        | que você deve fazer antes de comprar um imóvel
                    p Para os designers de interiores, duas vezes por ano acontece o High Point Market...

    section.parallax-window(data-parallax="scroll", data-image-src="images/time.jpg", data-natural-width="1400", data-natural-height="470")
        div.parallax-content-1.magnific
            div
                h3 CONHEÇA O GUIA BENVENUTO
                p A Benvenuto agora oferece a todos uma experiência cativante para conhecer ainda mais os entornos de seu próximo lar. Conheça cada detalhe que faz uma cidade ou um bairro especial.
                a.video(href="https://www.youtube.com/watch?v=LbKJD3RuIn4")
                    i.icon-play-circled2-1

    div.container.margin_60
                            
    
    include pageelements/footer	