footer
    div.container
        div.row
            div.col-md-4.col-sm-3
                h3 Precisa de Ajuda?
                a#phone(href="tel://88888888") +55 31 8888-8888
                a#email_footer(href="mailto:contato@benvenuto.com.br") contato@benvenuto.com.br
            div.col-md-4.col-sm-3
                h3 Sobre
                ul
                    li
                        a(href="http://www.benvenuto.com.br/saiba-mais") Saiba Mais
                    li
                        a(href="http://blog.benvenuto.com.br") Blog
                    li
                        a(href="http://benvenuto.uservoice.com/") Ajuda
                    li
                        a(href="http://www.benvenuto.com.br/politica-de-privacidade") Política de Privacidade
                    li
                        a(href="http://www.benvenuto.com.br/termos-de-uso") Termos de Uso

            div.col-md-4.col-sm-3
                h3 Descubra
                ul
                    li
                        a(href="http://www.benvenuto.com.br/imoveis") Todas as Propriedades
                    li
                        a(href="http://www.benvenuto.com.br/imoveis/novo") Anuncie um Imóvel
                    li
                        a(href="http://guia.benvenuto.com.br/favoritos") Favoritos
            div.col-md-4.col-sm-3
                h3 Configurações
                div.styled-select
                    select.form-control#lang(name="lang")
                        option(value="Português", selected) Português
                        option(value="English") English

        div.row
            div.col-md-12
                div#social_footer
                    ul
                        li
                            a(href="https://www.facebook.com/benvenuto.startup")
                                i.icon-facebook
                        li
                            a(href="https://twitter.com/benvenutobrasil")
                                i.icon-twitter
                        li
                            a(href="https://plus.google.com/107797381551391650356")
                                i.icon-google
                        li
                            a(href="https://instagram.com/benvenutobrasil/")
                                i.icon-instagram
                        li
                            a(href="https://www.linkedin.com/company/benvenuto")
                                i.icon-linkedin